nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    background-color: #00aeef;
}
nav img{
    display: inline-block;
    width: 150px;
    transition: 0.3s;
}
nav img:hover{
    transform: scale(1.1)
}
nav ul, nav li{
    display: inline-block;
    padding-right: 20px;
}
a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav li{
    transition: 0.3s;
}
nav li:hover{
    cursor: pointer;
    transform: scale(1.1);
}
button{
    background-color: #0077CC;
    color: antiquewhite;
    border-radius: 25px;
    padding: 10px;
    border-color: wheat;
    cursor: pointer;
}
button:hover{
    background-color: #005FA3;
}
.hero{
    height: 100vh;
    background-image: url("assets/home.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero button{
    padding: 15px;
    font-size: 25px;
    margin-top: 150px;
    transition: 0.3s;
}
.hero button:hover{
    transform: scale(1.1);
}
.about{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 80px;
}
.about-text{
    width: 40%;
}
.about p{
    line-height: 1.6;
}
.about img{
    height: 500px;
    border-radius: 48%;
}
.about h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
.author{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 80px;
}
.author img{
    height: 500px;
    border-radius: 48%;
}
.author-text{
    width: 40%;
}
.author p{
    line-height: 1.6;
}
.author h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
.characters{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 80px;
}
.card{
    width:180px;
    text-align: center;
    transition: 0.3s;
    background-color: rgb(180, 211, 220);
}
.card:hover{
    transform: translateY(-10px);
}
.card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.card p{
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}
.final{
    display: flex;
    justify-content: center;
    padding: 40px;
    
}
.final button{
    padding: 15px;
    font-size: 25px;
    transition: 0.3s;
}
.final button:hover{
    transform: scale(1.1);
}
footer{
    background-color: rgb(0, 200, 255);
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}